
body {
  background: linear-gradient(300deg, #280945, #013f3f, #0b1423);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

h1 {
  margin: 10px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4.5rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  margin: 10px;
}

img {
  width: 70%;
}

.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  width: 25%;

}

.name1 {
  background-color: #cbfdff;
  height: 20px;
  margin: auto;
}

.name2 {
  background-color: #f7f5d4;
  height: 20px;
  margin: auto;
}

.player1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}

.player2 {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: center;
}

.input {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

}

.name1-button {
  align-items: center;
  background-image: linear-gradient(144deg,#bde7ed, #5193e3 50%,#442ccf);
  border: 2px solid #69667a;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #100c0c;
  display: inline-block;
  font-family: Phantomsans, sans-serif;
  font-size: 1rem;
  justify-content: center;
  line-height: 1em;
  width: 40%;
  padding: 3px;
  margin-top: 10px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.name1-button:active,
.name1-button:hover {
  background-image: linear-gradient(144deg,#00DDEB, #188bb1 50%,#9340ff);
  border: 2px solid #442ccf;
  outline: 0;
}

.name1-button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 50%;
  height: 50%;
  transition: 300ms;
}

.name1-button:hover span {
  background: none;
}

.wins {
  font-size: 1.5rem;
}

.rounds-played {
  color: #EEEEEE;
  margin: 15px 0 0;
  font-size: 1.5rem;
}

.name2-button {
  align-items: center;
  background-image: linear-gradient(144deg,#cac26c, #e3be51 50%,#cf4a2c);
  border: 2px solid #69667a;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #100c0c;
  display: inline-block;
  font-family: Phantomsans, sans-serif;
  font-size: 1rem;
  justify-content: center;
  line-height: 1em;
  width: 40%;
  padding: 3px;
  margin-top: 10px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.name2-button:active,
.name2-button:hover {
  background-image: linear-gradient(144deg,#e3e623, #b18618 50%,#f93d29);
  border: 2px solid #e01919;
  outline: 0;
}

.name2-button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 50%;
  height: 50%;
  transition: 300ms;
}

.name2-button:hover span {
  background: none;
}

.newdraw-button {
  text-decoration: none;
  border: 3px solid #4ECCA3;
  color: transparent;
  padding: 20px 40px;
  font-size: 26px;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 0.5s;
  position: relative;
  top: 30px;
}

.newdraw-button:before {
  content: "Хвърли заровете";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4ECCA3;
  background: rgb(34, 34, 34);
  font-size: 28px;
  top: 0;
  left: 100%;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(0) rotatey(0);
  opacity: 0;
}
.newdraw-button:hover:before {
  transform: scale(1) rotatey(360deg);
  left: 0;
  opacity: 1;
}

.newdraw-button:after {
  content: "Хвърли заровете";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4ECCA3;
  background: rgb(34, 34, 34);
  font-size: 28px;
  top: 0;
  left: 0;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(1) rotatey(0);
  opacity: 1;
}

.newdraw-button:hover:after {
  transform: scale(0) rotatey(360deg);
  left: -100%;
  opacity: 0;
}

.resetgame-button-invisible{
  visibility: hidden;
  position: absolute;
  }
  
  .resetgame-button-visible {
    text-decoration: none;
    border: 3px solid #FFDE00;
    color: transparent;
    padding: 20px 40px;
    font-size: 26px;
    font-family: sans-serif;
    letter-spacing: 5px;
    transition: all 0.5s;
    position: relative;
    top: 30px;
    margin-left: 20px;
  
  }
  
  .resetgame-button-visible:before {
    content: "Още една игра?";
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFDE00;
    background: rgb(34, 34, 34);
    font-size: 28px;
    top: 0;
    left: 100%;
    font-family: sans-serif;
    letter-spacing: 5px;
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(0) rotatey(0);
    opacity: 0;
  }

  .resetgame-button-visible:hover:before {
    transform: scale(1) rotatey(360deg);
    left: 0;
    opacity: 1;
  }
  
  .resetgame-button-visible:after {
    content: "Още една игра?";
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFDE00;
    background: rgb(34, 34, 34);
    font-size: 28px;
    top: 0;
    left: 0;
    font-family: sans-serif;
    letter-spacing: 5px;
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(1) rotatey(0);
    opacity: 1;
  }
  
  .resetgame-button-visible:hover:after {
    transform: scale(0) rotatey(360deg);
    left: -100%;
    opacity: 0;
  }

.player1-wins-green {
  color: #06FF00;
}

.player1-wins-red {
  color: #FF1700;
}

.player2-wins-green {
  color: #06FF00;
}

.player2-wins-red {
  color: #FF1700;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

@media (max-width: 960px) and (min-width: 300px) {
  body {
    background: linear-gradient(300deg, #62499d, #013f14, #23012f);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  .container {
    width: 90%;
  }

  .dice {
    width: 48%;
    margin-bottom: 4rem;
  }
  

  h1 {
    margin: 60px 0px ;
  }

  p {
    font-size: 4rem;
  }

  .name {
    font-size: 3rem;
    width: 80%;
    height: 40px;
    margin-bottom: 15px;
  }

  .name-button {
    font-size: 3rem;
    margin-bottom: 4rem;
    width: 50%;
  }

  .wins {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }

  .player1 {
    font-size: 2rem;
  }

  .player2 {
    font-size: 2rem;
  }

  img {
    width: 90%;
  }

  .rounds-played {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  footer {
   font-size: 1.5rem;
   margin-top: 10rem;
  }

}

@media (max-width: 1200px) and (min-width: 961px) {
  body {
    background: linear-gradient(300deg, #036515, #03013b, #08001f);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  .container {
    width: 80%;
  }

  .dice {
    width: 46%;
    margin-bottom: 3.5rem;
  }
  

  h1 {
    margin: 60px 0px ;
  }

  p {
    font-size: 3.5rem;
  }

  .name {
    font-size: 3rem;
    width: 80%;
    height: 40px;
    margin-bottom: 15px;
  }

  .name-button {
    font-size: 3rem;
    margin-bottom: 3.5rem;
    width: 50%;
  }

  .wins {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }

  .player1 {
    font-size: 2rem;
  }

  .player2 {
    font-size: 2rem;
  }

  img {
    width: 90%;
  }

  .rounds-played {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  footer {
   font-size: 1.5rem;
   margin-top: 5rem;
  }

}
